@{
    Layout = null;
}
@using Model
@model Config_Major
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>

    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>

    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui//lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <script type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title>ZhiWeiSheadd</title>
</head>
<body style="background-color: #FFFFCC">
    <div id="app">
        <form method="post" action="../customiz/customizAction!findMajor">
            <table width="100%">
                <tr>
                    <td>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item><a href="/Main/main">首页</a></el-breadcrumb-item>
                            <el-breadcrumb-item>人力资源</el-breadcrumb-item>
                            <el-breadcrumb-item>客户化设置</el-breadcrumb-item>
                            <el-breadcrumb-item>人力资源档案管理设置</el-breadcrumb-item>
                            <el-breadcrumb-item>职位设置</el-breadcrumb-item>
                        </el-breadcrumb>
                    </td>
                </tr>
            </table>
        </form>

        @using (Html.BeginForm("ZhiWeiSheINSERT", "KeHu", FormMethod.Post))
        {
            <table width="100%">
                <tr>
                    <td align="right">
                        <input type="submit" value="提交" class="BUTTON_STYLE1">
                        <input type="button" value="返回" class="BUTTON_STYLE1"
                               onclick="history.back();">
                    </td>
                </tr>
            </table>
            <div class="form-group">
                @Html.LabelFor(e => e.Major_Kind_Id)
                @Html.DropDownListFor(e => e.Major_Kind_Id, ViewBag.s as IEnumerable<SelectListItem>, new { @class = "INPUT_STYLE2" })
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Major_Kind_Name)
                @Html.DropDownListFor(e => e.Major_Kind_Name,ViewBag.sls as IEnumerable<SelectListItem>, new { @class = "INPUT_STYLE2" })
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Major_Id)
                @Html.TextBoxFor(e => e.Major_Id, "", new { @class = "INPUT_STYLE2" })
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Major_Name)
                @Html.TextBoxFor(e => e.Major_Name, "", new { @class = "INPUT_STYLE2" })
            </div>

        }
    </div>
<<<<<<< .mine
    
||||||| .r20

=======
>>>>>>> .r32
</body>
</html>